p {
    color : red;
    text-align: center;
}

h1 {
    font-size: 100px;
    text-align: center;
    color : green;
}

#p1 {
    color : blue;
}

#p3 {
    color : red;
}

.p2 {
    color : green;
    background-color: yellow;
}

